@use "../base/variables" as *;
@use "../utilities/mixins" as *;

/* ACTIVIDADES */

.contenedor-flyers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: $padding-grande;

    .actividad-1 img {
        width: $ancho-imagen;
        height: auto;
        border-radius: $border-radius;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    }

    .actividad-2 img {
        width: $ancho-imagen;
        height: auto;
        border-radius: $border-radius;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    }
}