@use "../base/variables" as *;
@use "../utilities/mixins" as *;

/* MEDIA QUERYS */

@media (max-width: 1550px) {
    .contenedor-info {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 991px) {
    .contenedor-info {
        grid-template-columns: repeat(1, 1fr);
    }

    .contenedor-flyers {
        grid-template-columns: repeat(1, 1fr);
    }

    /* PLAN */
    .container-grid-plan {
        display: none;
    }

    .container-cards {
        display: block;
        display: flex;
        margin-bottom: 80px;
    }
}

@media (max-width: 480px) {

    /* BARRA DE NAVEGACION */
    nav .nav-item:hover {
        transform: none;
        color: black;
    }

    /* INICIO */
    .text-home{
        padding: 50px 30px 0 30px;
        font-size: 16px;
    }

    .text-home_2{
        padding-bottom: 10px;
        font-size: 16px;
    }

    .contenedor-info {
        box-sizing: border-box;
        
        .imagen-donde-estamos,
        .imagen-gimnasio {
            width: 300px;
            height: auto;
            align-self: center;
        }

        .donde-estamos,
        .nuestro-lugar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .imagen-gimnasio {
        margin-bottom: 30px;
    }

    /* OTRAS ACTIVIDADES */
    .contenedor-flyers {

        .actividad-1,
        .actividad-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 300px;
                height: auto;
                align-self: center;
            }
        }

        .actividad-2 {
            img {
                margin-bottom: 30px;
            }
        }
    }

    /* MI CUENTA */

    .contenedor-mi-cuenta{
        display: flex;

        .contenedor-gestion-login {
            flex-direction: column;
            padding-bottom: 40px;
            justify-content: center;
            align-items: center;
    
            .gestion-de-cuentas {
                width: auto;
                padding: 0;
                padding-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                .logo-mi-cuenta{
                    width: 200px;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 20px;
                }
            }
    
            .login-usuario {
                width: auto;
            }
        }
    }
    
    /* PLAN */
    .container-grid-plan {
        display: none;
    }

    .container-cards {
        display: block;
        display: flex;
        margin-bottom: 80px;
    }

    /* CONTACTO */


    /* FOOTER */
    footer {
        height: auto;
    }
}