@use "../base/variables" as *;

/* MI CUENTA */

.contenedor-gestion-login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10% 0 10% 0;

    .gestion-de-cuentas {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo-mi-cuenta {
            width: 300px;
            height: auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        .lista-gestion-de-cuentas {
            padding-top: $padding-general;
        }
    }

    .login-usuario {
        display: flex;
        flex-direction: column;
        gap: $padding-general;
        align-self: center;
        border: 1px solid #000000;
        border-radius: $border-radius;
        width: 700px;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding-bottom: 20px;

        h1 {
            font-weight: bolder;
        }

        .btn-entrar {
            background-color: black;
            color: white;
            border-radius: 50px;
            width: 100%;
            padding: 10px;
            font-weight: bold;
            &:hover {
                background-color: black;
                color: white;
                transform: scale(1.02);
            }
            &:active {
                transform: scale(0.95);
                background-color: black;
            }
        }
    }
}