@use "../utilities/mixins" as *;

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    align-items: center;
    justify-content: center;

    .redes-sociales {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-bottom: 20px;

        .logo-instagram {
            height: auto;
            width: 30px;
            @include hover-scale;
        }

        .logo-facebook {
            height: auto;
            width: 30px;
            @include hover-scale;
        }
        
        .logo-whatsapp {
            height: auto;
            width: 30px;
            @include hover-scale;
        }
    }

    .barra-footer {
        width: 100%;
        background-color: black;
        bottom: 0;
    }
}