@use "../base/variables" as *;
@use "../utilities/mixins" as *;

/* BARRA DE NAVEGACION */

nav {
    background-color: $color-azul;
    
    .navbar-brand img {
        width: 90px;
        @include hover-scale;
        padding: 15px 0 15px 0;
    }

    .nav-item {
        @include hover-scale
    }

    .nav-link {
        color: white;
    }
}
