$color-gris-claro: #b7b9b9;
$color-azul: #0084FF;
$color-gris-hover: rgb(208, 208, 208);

$fuente-principal: "Mulish", serif;

$padding-general: 20px;
$padding-grande: 30px;
$border-radius: 10px;
$border-radius-grande: 20px;
$ancho-imagen: 500px;